.container {
    background-color: #F5F5DC;
    width: 50%;

    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -80%);
}

.header {
    text-align: center;
    margin: auto;
    color: green;
}
